BODY
{
    font-family:Tahoma, SimSun, Verdana, sans-serif,微软雅黑;
	background-color:#3399CC;
	overflow-x:hidden;
}
.MenuItemLabel,.MenuItemLabelDisabled,.MenuItemLabelMouseOver
{	/*标准链接标签样式*/
	FONT:12px Tahoma,verdana;color:#333;
}
.MenuItemLabelDisabled
{	/*无链接命令的标签样式*/
	color:#000000; cursor:default;
}
.MenuItemLabelMouseOver
{	/*有链接命令的标签鼠标浮动样式*/
	color:#428eff;text-decoration:underline;cursor:pointer!important;cursor:hand;
	
}
.MenuItemRow
{	/*每个条目的高度*/
	height:23px;
}
.IconContainer
{
	overflow:hidden;font-size:1px;width:18px;height:18px;
}
/*********************************************/
.MenuTitlebar
{
	position:absolute;top:0px;over-flow:hidden;cursor:pointer!important;cursor:hand;z-index:100;
}
.MenuTitle,.MenuTitle_MouseOver,.MenuTitle_Head,.MenuTitle_MouseOver_Head
{
	font:bold 11px Tahoma,verdana;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
}
.MenuTitle
{
	color:#333;
}
.MenuTitle_Head
{
	color:#333;
}
.MenuTitle_MouseOver
{
	color:#428eff;
}

.MenuTitle_MouseOver_Head
{
	color:#428eff;
}
.MenuTitlebarLeft
{
	background-image:url("../images/titlebarLeft.gif");
}
.MenuTitlebarLeft_Head
{
	background-image:url("../images/titlebarLeft.gif");background-position:right;
}
.MenuTitlebarMiddle,.MenuTitlebarMiddle_Head
{
	background-image:url("../images/titlebarMiddle.gif");background-repeat:repeat-y;background-position:right;
}
.MenuTitlebarMiddle_Head
{
	background-image:url("../images/titlebarMiddle.gif");
}
.MenuTitlebarRight_Close,.MenuTitlebarRight_Open,.MenuTitlebarRight_Open_MouseOver,.MenuTitlebarRight_Close_MouseOver
{
	background-image:url("../images/titlebarRight.gif");background-repeat: norepeat;
}
.MenuTitlebarRight_Close_Head,.MenuTitlebarRight_Open_Head,.MenuTitlebarRight_Open_MouseOver_Head,.MenuTitlebarRight_Close_MouseOver_Head
{
	background-image:url("../images/titlebarRight.gif");background-repeat: norepeat;
}
.MenuTitlebarRight_Open_Head,.MenuTitlebarRight_Open
{
	background-position:0 0;
}
.MenuTitlebarRight_Open_MouseOver_Head,.MenuTitlebarRight_Open_MouseOver
{
	background-position:-25 0;
}
.MenuTitlebarRight_Close_Head,.MenuTitlebarRight_Close
{
	background-position:-50 0;
}
.MenuTitlebarRight_Close_MouseOver_Head,.MenuTitlebarRight_Close_MouseOver
{
	background-position:-75 0;
}
/************************************************************/
.MenuBody,.MenuBody_Head
{
	font-size:0px;position:absolute;border-style:solid;border-top-width:0px;filter:alpha(opacity = 100);background:no-repeat bottom right;moz-opacity:1.0;z-index:99;
}
.MenuBody
{
	background-color:#d6dff7;border-color:#ffffff;
}
.MenuBody_Head
{
	background-color:#eff3ff;border-color:#ffffff;
}